.multiple {
    margin-top: 20px;
}

.board__content__list__item {
    min-height: 55px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    cursor: initial;
    position: relative;


    .cancel {
        border: none;
        background-color: transparent;

        i {
            border-radius: 50%;
            padding: 8px 10px;
            cursor: pointer;
            background-color: #ffffff;

            &:hover {
                color: #ffffff;
                background-color: var(--secondary);
                transition: .3s all ease-in-out;
            }
        }

        &:hover {}
    }


    &.showButton {
        background-color: #ffffffb3;
        transition: .3s all ease-in-out;
    }

    &__title {
        font-size: 16px;
        color: #3a4cae;
        font-weight: 100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // width: 150px;
        width: 90%;

        input {
            font-family: 'Dosis', sans-serif;
            font-size: 16px;
            // width: 150px;
            width: 94.5%;
            font-weight: 100 !important;
            border: none;
            border-radius: 10px;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        position: absolute;
        background-color: #ffffff;
        right: 5px;
        top: 5px;
        z-index: 2;
        padding: 5px;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: rgb(0 0 0 / 36%) 0px 2px 18px 0px;

        i {
            font-size: 14px;
            border-radius: 10px;
            background-color: #ffffff;
            color: #130f40 !important;
            padding: 10px;

            &:hover {
                background-color: #130f40;
                color: #ffffff !important;
                transition: .3s all ease-in-out;
            }
        }
    }

    &__enter {
        padding: 10px;
        border-radius: 15px;
        background-color: #130f40;
        color: #ffffff;
        cursor: pointer;
        opacity: .8;
        min-height: 55px;
        text-decoration: none;

        &:hover {
            opacity: 1;
            transition: .3s all ease-in-out;
        }
    }
}