.board__content__list__item {
    min-height: 55px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: initial;
    position: relative;

    &.showButton {
        background-color: #ffffffb3;
        transition: .3s all ease-in-out;
    }

    &__title {
        font-size: 16px;
        color: #3a4cae;
        font-weight: 100;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;

        input {
            font-family: 'Dosis', sans-serif;
            font-size: 16px;
            width: 150px;
        }
    }

    &__button {
        display: flex;
        flex-direction: row;
        position: absolute;
        background-color: #ffffff;
        right: 5px;
        top: 5px;
        z-index: 2;
        padding: 5px;
        cursor: pointer;
        border-radius: 5px;

        i {
            font-size: 14px;
            border-radius: 5px;
            background-color: #ffffff;
            color: #130f40 !important;
            padding: 10px;

            &:hover {
                background-color: #130f40;
                color: #ffffff !important;
                transition: .3s all ease-in-out;
            }
        }
    }

    &__enter {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #130f40;
        color: #ffffff;
        cursor: pointer;
        opacity: .8;
        min-height: 55px;

        &:hover {
            opacity: 1;
            transition: .3s all ease-in-out;
        }
    }
}