textarea {
    height: 38px;
    font-family: 'Dosis', sans-serif;
    resize: none;
    border: 2px solid var(--gray-2);
    border-radius: 5px;
    font-size: 13px;
    font-weight: 100 !important;
    padding: 5px;
    overflow-y: hidden;
    min-height: 30px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
        text-align: center;
        vertical-align: bottom;
        font-weight: 100 !important;
    }
}