.header {
    height: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 50px;
        padding-top: 5px;
    }

    &__kanbanList {
        display: flex;
        justify-content: space-between;

        a {
            color: var(--secondary);
            text-decoration: none;
            margin-right: 10px;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: 500;

            &:hover {
                background-color: #dbdbdb;
                transition: .3s all ease-in-out;
            }
        }

        .active {
            font-weight: 700;
        }
    }

    &__board {
        a {
            // height: 30px;
            width: 150px;
            border: none;
            color: var(--secondary);
            background-color: #ffffff;
            border: 1px solid var(--secondary);
            font-family: "Dosis", sans-serif;
            padding: 5px 10px;
            border-radius: 15px;
            cursor: pointer;
            margin-right: 10px;
            text-decoration: none;
            font-size: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
                transition: .3s all ease-in-out;
                background-color: var(--secondary);
                color: #ffffff;
            }

        }
    }

    &__auth {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        &__user {
            display: flex;
            flex-direction: row;
            align-items: center;

            label {
                color: #130f40;
            }

            input {
                margin-left: 10px;
                font-size: 13px;
                font-family: "Dosis", sans-serif;
            }
        }

        &__password {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 10px;

            label {
                color: #130f40;
            }

            input {
                margin-left: 10px;
                font-size: 13px;
                font-family: "Dosis", sans-serif;
            }
        }

        input {
            height: 30px;
        }

        &__button {
            height: 30px;
            margin-right: 15px;

            input {
                height: 30px;
                border: none;
                color: #ffffff;
                background-color: #3a4cae;
                font-family: "Dosis", sans-serif;
                border-radius: 5px;
                cursor: pointer;
                margin-left: 10px;
                // padding: 5px 10px;
                font-size: 13px;
                padding: 0 10px;

                &:hover {
                    transition: .3s all ease-in-out;
                    background-color: #130f40;
                }
            }
        }
    }

    &__details {
        display: flex;
        flex-direction: row;
        margin-right: 15px;
        align-items: center;
        font-size: 15px;

        &__message {
            color: #a5a5a5;

            span {
                color: #3a4cae;
            }
        }

        &__button {
            height: 30px;

            button {
                height: 30px;
                border: 1px solid #3a4cae;
                background-color: #ffffff;
                cursor: pointer;
                padding: 0 10px;
                border-radius: 5px;
                margin-left: 10px;

                &:hover {
                    transition: .3s all ease-in-out;
                    background-color: #3a4cae;
                    color: #ffffff;
                }
            }
        }
    }
}