.top {
    height: 20%;

    h2 {}
}

.board {
    min-width: 310px;
    background-color: #777591;
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 54%) 0px 2px 18px 0px;

    &__top {
        &__button {
            display: flex;
            justify-content: center;
            color: #ffffff;

            button {
                border: none;
                width: 100%;
                background-color: #130f40;
                color: #ffffff;
                border-radius: 15px;
                padding: 10px 20px;
                cursor: pointer;
                transition: .3s all ease-in-out;
                opacity: .8;

                span {
                    margin-right: 5px;
                }

                &:hover {
                    opacity: 1;
                }

                i {}
            }
        }
    }

    &__content {

        &__create {

            &__input {
                margin-top: 20px;

                input {
                    font-family: 'Dosis', sans-serif;
                    font-size: 16px;
                    border-radius: 15px;
                    border: none;
                }
            }

            &__cancel {
                border: none;
                background-color: transparent;
                margin-left: 10px;

                i {
                    padding: 8px 10px;
                    background-color: #130f40;
                    color: #ffffff;
                    border-radius: 50%;
                    cursor: pointer;
                    opacity: .8;

                    &:hover {
                        transition: .3s all ease-in-out;
                        opacity: 1;
                    }
                }
            }


        }

        &__message {
            color: #130f40;
            margin: 10px;
            color: #ffffff;
        }

        &__button {
            display: flex;
            justify-content: center;
            color: #ffffff;

            button {
                border: none;
                width: 100%;
                margin: 10px;
                background-color: #130f40;
                color: #ffffff;
                border-radius: 5px;
                height: 30px;
                padding: 0 10px;
                cursor: pointer;
                transition: .3s all ease-in-out;
                opacity: .8;

                span {
                    margin-right: 5px;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__list {
            // margin-top: 20px;
        }
    }
}