.kanban-container {
    display: flex;
    align-items: flex-start;
}

.container-addList {
    width: 200px;
    margin: auto;
}

.inputAddList {
    font-family: 'Dosis', sans-serif;
    width: 200px;
    height: 38px !important;

    &::placeholder {
        font-family: 'Dosis', sans-serif;
        font-size: 15px;
    }
}

.cancelAddList {
    height: 38px !important;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #777591;

    i {
        padding: 10px;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        opacity: .8;

        &:hover {
            transition: .3s all ease-in-out;
            opacity: 1;
        }
    }
}

.addList {
    font-size: 13px;
    border-radius: 5px;
    width: 200px;
}