textarea {
    font-family: 'Dosis', sans-serif;
    resize: none;
    // padding: 5px;
    border: 2px solid var(--gray-2);
    border-radius: 5px;
    font-size: 20px;
    padding: 20px 10px 0px 10px;

    &::placeholder {
        font-family: 'Dosis', sans-serif;
        font-size: 21px;
        text-align: center;
        // padding-top: 10px;
    }
}